body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

button {
    border: none;
    text-decoration: none;
    background: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

header, .bannerWrapper {
    max-width: 975px;
    margin: 0px auto;
    
}

.bannerWrapper {
    height: 100vh;
}

/* HEADER */

header  {
    margin: 40px auto;
    position: relative;    
}

header img {
    width: 275px;    
}

nav {
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.mainNav {
    margin: 0;
    padding: 0;
}

.mainNav a {
    display: block;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.mainNav a:hover {
    text-decoration: underline;
}

.mainNav li {
    float: left;
    margin-right: 25px;   
}

/* HEADER END*/


/*BANNERS*/

.bannerFirst {
    background: url(../links/banner_1.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.bannerSecond {
    background: url(../links/banner_2.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}

.bannerContent {
    height: 100vh;
    width: 70%;
    background: white;
    opacity: 0.8;
    display: table;

}

.textBanner {
   display: table-cell;
   vertical-align: middle;
   padding-left: 50px;
   padding-right: 50px;
}

.subTitle {
    font-size: 30px;
}

.title {
    padding-top: 10px;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title span {
    letter-spacing: 3px;
}

 .bannerSecond .title {
    text-transform: none;
}

/*BANNER END*/

/*FOUR SQUARES*/

.fourSquares {
    height: 100vh;
}

.square {
    height: 100vh;
    width: 25%;
    float: left;
}

.hiddenBlock {
    height: inherit;
    background: rgba(11,51,86, 0.7);
    opacity: 0;
    text-align: center;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;

}

.square:hover .hiddenBlock{
    display: block;
    opacity: 1;
}

.wrapperLink {
   display:inline-block;
   vertical-align:middle;
}

.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
}

.fourSquares h2 {
    color: white;
    text-transform: uppercase;
    font-size: 23px;
}

.btnSquare {
    margin-top: 25px;
    border: 1px solid white;
    color: white;
    padding: 15px 40px 15px 40px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
}

.btnSquare:hover {
    background: white;
    color: black;
    transition: background .25s ease-in-out, color .25s ease-in-out;
   -moz-transition: background .25s ease-in-out, color .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out, color .25s ease-in-out;
}

.one {  
    background: url(../links/1_1.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.two {  
    background: url(../links/1_2.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.three {  
    background: url(../links/1_3.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.four {  
    background: url(../links/1_4.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/*END FOUR SQUARES*/

/* SECTIONS WITH MONITORS */

.bannerFourth {
    background: #222222;
    color: white;
    text-align: center;
    position: relative;
}

.bannerWrapper h2 {
    text-transform: uppercase;
    font-size: 25pt;
    position: absolute;
    top: 8%;
    left: 40%;
    -webkit-transform: translate(0%,-40%);
    -ms-transform: translate(0%,-40%);
    transform: translate(0%,-40%);
}

.monitorRight {
    margin-left: 50%;
    height: inherit;
    width: 450px;
    background: url(../links/m1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80% 50%;
}

.leftSide {
    float: left;
    width: 40%;
    height: inherit;
    display: table;
}

.Text {
   display: table-cell;
   vertical-align: middle;
}

.Text h3 {
    font-size: 20pt;
    text-transform: uppercase;
}

.Text p {
    margin-top: 20px;
    line-height: 1.6;
}

.leftSide button {
    margin-top: 25px;
    width: 200px;
    background: #003d6a;
    color: white;
    padding: 15px 40px 15px 40px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
}

.leftSide button:hover {
    background: #02508a;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

/* FLIP MONITOR BANNER */

.bannerFifth {
    background: white;
    color: black;
    text-align: center;
    position: relative;
}

.monitorLeft {
    margin-right: 50%;
    height: inherit;
    width: 450px;
    background: url(../links/m2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80% 50%;
}

.rightSide {
    float: right;
    width: 40%;
    height: inherit;
    display: table;
}


.rightSide button {
    margin-top: 25px;
    width: 200px;
    border: 1px solid black;
    color: black;
    padding: 15px 40px 15px 40px;
    font-size: 18px;
}

.rightSide button:hover {
    background: black;
    color: white;
    transition: background .25s ease-in-out, color .25s ease-in-out;
   -moz-transition: background .25s ease-in-out, color .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out, color .25s ease-in-out;
}